/**
* Projecto: Portifólio Pessoal
* Desenvolvedor: João Devson Mucavel
* Data: 03 de Janeiro de 2023
* Descrição: O maior objectivo desta Aplicação é disponibilizar minhas informações Profissionais
*/

/* Importando Fonte - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @font-face {
    font-family: 'montserrat', sans-serif;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
} */
:root{
    --clr-primario: #40dfef;
    --clr-secondario: #01bbf0;
    --clr-terceario: #effffd;
    --clr-escuro: #16161d;
    --clr-escuro-clariado: #d8d8d8;
    --clr-branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 62.5%; /* Vai me permitir utilizar o REM equivalente a 10px */
    scroll-behavior: smooth;
}
body{
    position: relative;
}

.seccao{
    width: 100%;
    height: auto;
    padding: 8.8rem 10%;
    font-size: 1.4rem;
}
.seccao h1{
    font-size: 2rem;
    margin-bottom: 2.2rem;
    text-align: center;
}

/*==================================
*        SECÇÃO CABEÇALHO
====================================*/
header {
    width: 100%;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primario);
    padding: 0 10%;
}

.logo{
    padding: 0.4rem 0;
}
.logo a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: var(--clr-escuro);
    transition: all 0.3s;
}
.logo a:hover{
    color: var(--clr-branco);
}
.logo a:hover img{
    box-shadow: 1px 1px 5px 1px var(--clr-escuro);
}
.logo img{
    width: 4rem;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s;
}
.logo span{
    font-size: 1.8rem;
    font-style: italic;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 0 0.4rem;
    cursor: pointer;
}

.menu li:hover{
    background-color: var(--clr-secondario);
}

.menu li:hover a{
    color: var(--clr-branco);
}

.menu li:last-of-type:hover{
    background-color: transparent;
}

.menu li a {
    height: 6.2rem;
    display: inline-block;
    display: flex;
    align-items: center;
    font-size: 1.66rem;
    color: var(--clr-escuro);
    text-decoration: none;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
    transition: all .3s;
}

.menu li a svg {
    width: 1.6rem;
}

/*==================================
*           SECÇÃO HERO
====================================*/
.hero {
    display: grid;
    grid-template-columns: 60fr 40fr;
    line-height: 1.6;
}
.perfil-descricao {
    padding: 4.2rem 0;
}
.perfil-descricao h1{
    font-size: 2.8rem;
    text-align: left;
    margin-bottom: 0.8rem;
}

.perfil-descricao h2{
    font-size: 4.2rem;
    line-height: 1;
}
.perfil-descricao h3 {
    font-size: 2.2rem;
    color: var(--clr-primario);
}
.perfil-descricao ul {
    padding-left: 2%;
    list-style: inside;
    font-size: 1.6rem;
    color: var(--clr-primario);
}

.perfil-foto img{
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}
.perfil-foto img:hover{
    box-shadow: 1px 1px 15px 6px var(--clr-escuro);
}
.opcoes {
    margin-top: 3.2rem;
}
.opcoes a {
    padding: 0.8em 2.2em;
    background-color: var(--clr-escuro);
    border: none;
    color: var(--clr-branco);
    text-decoration: none;
    margin-right: 1.4rem;
    border-radius: 2.2rem;
    transition: all 0.3s;
}
.opcoes a:hover,
.opcoes a:focus,
.opcoes a:active{
    background-color: var(--clr-escuro-clariado);
    color: var(--clr-escuro);
}
.opcoes .contactar {
    background-color: var(--clr-primario);
    color: var(--clr-escuro);
}
.opcoes .contactar:hover,
.opcoes .contactar:focus,
.opcoes .contactar:active{
    background-color: var(--clr-secondario);
    color: var(--clr-branco);
}

/*==================================
*         SECÇÃO APRESENTAÇÃO
====================================*/
.apresentacao {
    background-color: var(--clr-terceario);
    line-height: 1.4;
}

.apresentacao p {
    line-height: 1.6;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
}

.apresentacao__lados {
    display: grid;
    grid-template-columns: 30fr 70fr;
    align-items: center;
}

/*==================================
*        SECÇÃO HABILITAÇÕES
====================================*/
.habilitacoes {
    background-image: url(../imgs/programming-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.habilitacoes h1{
    color: var(--clr-branco);
}
.habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    padding-top: 4.4rem;
}
.habilidade {
    color: var(--clr-branco);
    text-align: center;
    font-size: 2.2rem;
    background-color: rgba(94, 209, 244, 0.3);
    border-radius: 15px;
    padding: 2.2rem;
    cursor: pointer;
    transition: all 0.3s;
}
.habilidade:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 8px rgba(94, 209, 244, 0.3);
}
.habilidade img{
    width: 100%;
}
.habilidade p{
    font-size: 1.2rem;
    padding-top: 1.2rem;
}
.habilidade p span{
    font-weight: 700;
}


/*==================================
*        SECÇÃO EXPERIÊNCIA
====================================*/
.experiencia{
    width: 100%;
}
.experiencia h1{
    text-align: center;
    margin-bottom: 4.8rem;
}
.experiencia__lados{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.experiencia__lados h2{
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 1.2rem;
}
.experiencia__lados p{
    line-height: 2.2rem;
}
.experiencia__lados h2 span{
    font-style: italic;
    font-size: 1.2rem;
}
.experiencia__lados p span{
    text-decoration: underline;
}
.experiencia__lado-esquerdo{
    border-right: 2px solid var(--clr-secondario);
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 2rem;
    padding: 6.8rem 0.8rem;
}
.artigo__fundo-primario{
    background-color: var(--clr-secondario);
}
.artigo__fundo-secundario{
    background-color: var(--clr-primario);
}
.experiencia__lado-esquerdo article{
    width: 80%;
    padding: 2.2em;
    border-radius: 15px;
    position: relative;
}
.experiencia__lado-esquerdo article::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--clr-escuro);
    position: absolute;
    top: 50%;
    right: -9px;
    border-radius: 50%;
}
.experiencia__lado-direito{
    text-align: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 2rem;
    padding: 0.8rem;
    margin-top: 8.8rem;
}
.experiencia__lado-direito article{
    width: 80%;
    padding: 2.2em;
    border-radius: 15px;
    position: relative;
}
.experiencia__lado-direito article::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: -9px;
    border-radius: 50%;
    background-color: var(--clr-escuro);
}
/*==================================
*       SECÇÃO CERTIFICAÇÕES
====================================*/
.certificacoes {
    background-image: url(../imgs/coding-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(94, 209, 244, 0.3);
}

.certificacoes h1{
    color: var(--clr-branco);
    margin-bottom: 6.4rem;
}

.certificados{
    margin-bottom: 6.8rem;
}
.certificados{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2.2rem;
}
.certificado {
    width: 100%;
    padding: 6.8rem;
    color: var(--clr-branco);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    /* background-image: url(../imgs/modelo-diploma-certificado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(42, 47, 48, 0.8); */
    background-color: var(--clr-escuro);
}
.certificado a{
    font-style: italic;
    color: var(--clr-escuro-clariado);
    text-decoration: none;
}
.certificado a:hover {
    text-decoration: underline;
}
/*==================================
*       SECÇÃO CONTACTOS
====================================*/
.contactos {
    padding: 4.4rem 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.8rem;
    line-height: 2.2rem;
}
.contactos h1{
    font-size: 1.66rem;
    text-align: left;
}

/*==================================
*       SECÇÃO CONTACTOS
====================================*/
.direitos-autorais {
    background-color: var(--clr-secondario);
    padding: 1.2em;
    color: var(--clr-branco);
    font-size: 1.1rem;
    text-align: center;
}
.direitos-autorais a{
    color: var(--clr-branco);
    text-decoration: none;
}
.direitos-autorais a:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 936px) {
    html,
    body {
        font-size: 50%;
    }
    .menu li {
        padding: 0 0.2rem;
    }
    .menu li a {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
}

@media only screen and (max-width: 723px) {
    /* Trigger Small Screen Version */
    .logo{
        padding: 0.8rem 0;
    }
    .menu {
        display: none;
    }
    .apresentacao__lados {
        grid-template-columns: 1fr;
    }
    .apresentacao__icon-lado {
        display: none;
    }
}